#head {
    height: 2cm;
}

#logo {
    width: 300px;
}

#menu {
    width: auto;
    height: 80%;
    float: left;    
}

#main {
    width: auto;
    height: 80%;
    float: left;    
}

#List {
    margin: auto;
    border-bottom: 1px solid skyblue;
    width: 20cm;
}

ul.detail {
    list-style: none;
    width: 100%;
    height: 50%;
    align-items: baseline;
}

ul.detail li {
    padding: 5px 0px 5px 5px;
    margin: 10px;
    font-size: 12px;
}

#button {
    border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    padding: 5px;
    float: right;
}