#head {
    height: 2cm;
}

#logo {
    width: 300px;
}

#menu {
    width: auto;
    height: 80%;
    float: left;    
}

#main {
    width: 70%;
    float: left;    
}

#listBox{
    width: 100%;
}

.List {
    border-bottom: 1px solid skyblue;
}

div.detail {
    width: 30%;
    height: 15%;
    align-items: baseline;
    float: left;
}

div.detail div {
    padding: 5px 0px 5px 5px;
    margin: 10px;
    font-size: 12px;
}

#button {
    border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    padding: 5px;
    float: right;
}


#img {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}